:root {
    --primary-font-family: 'Poppins', sans-serif;

    --primary-color: #9197B3;
    --secondary-color: #000;
    --accent-color: #5932EA;

    --table-title-color: #B5B7C0;
    --table-text-color: #292D32;

    --active-button-text-color: #008767;    
    --active-button-bg-color: #16C09861;
    --active-button-border-color: #00B087;

    --inactive-button-text-color: #DF0404;
    --inactive-button-bg-color: #FFC5C5;

    --users-info-color: #757575;

    --primary-bg-color: #ffffff;
}