<main class="main">
  <p class="greeting">Hello Evano 👋🏼,</p>
  <div class="main__container">
    <div class="customers-title">
      <div>
        <p class="customers-title__all">All Customers</p>
        <p class="customers-title__active">Active Members</p>
      </div>
      <div class="form__field">
        <input type="text" class="form__input" placeholder="Search" />
        <svg width="24" height="24" class="form__icon">
          <use href="././images/sprite.svg#icon-search"></use>
        </svg>
      </div>
    </div>
    <div class="table-info">
      <div class="table-info__container">
        <table class="table">
          <thead class="thead">
            <tr>
              <th>Customer Name</th>
              <th class="mobile-no-show">Company</th>
              <th>Phone Number</th>
              <th class="mobile-no-show">Email</th>
              <th class="mobile-no-show">Country</th>
              <th>Status</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Jane Cooper</td>
              <td class="mobile-no-show">Microsoft</td>
              <td>(225) 555-0118</td>
              <td class="mobile-no-show">jane@microsoft.com</td>
              <td class="mobile-no-show">United States</td>
              <td><span class="active-status">Active</span></td>
              <!-- <td class="td"><span class="active-status">Active</span></td> -->
            </tr>
            <tr>
              <td>Floyd Miles</td>
              <td class="mobile-no-show">Yahoo</td>
              <td>(205) 555-0100</td>
              <td class="mobile-no-show">floyd@yahoo.com</td>
              <td class="mobile-no-show">Kiribati</td>
              <td><span class="inactive-status">Inactive</span></td>
            </tr>
            <tr>
              <td>Ronald Richards</td>
              <td class="mobile-no-show">Adobe</td>
              <td>(302) 555-0107</td>
              <td class="mobile-no-show">ronald@adobe.com</td>
              <td class="mobile-no-show">Israel</td>
              <td><span class="inactive-status">Inactive</span></td>
            </tr>
            <tr>
              <td>Marvin McKinney</td>
              <td class="mobile-no-show">Tesla</td>
              <td>(252) 555-0126</td>
              <td class="mobile-no-show">marvin@tesla.com</td>
              <td class="mobile-no-show">Iran</td>
              <td><span class="active-status">Active</span></td>
            </tr>
            <tr>
              <td>Jerome Bell</td>
              <td class="mobile-no-show">Google</td>
              <td>(629) 555-0129</td>
              <td class="mobile-no-show">jerome@google.com</td>
              <td class="mobile-no-show">Réunion</td>
              <td><span class="active-status">Active</span></td>
            </tr>
            <tr>
              <td>Kathryn Murphy</td>
              <td class="mobile-no-show">Microsoft</td>
              <td>(406) 555-0120</td>
              <td class="mobile-no-show">kathryn@microsoft.com</td>
              <td class="mobile-no-show">Curaçao</td>
              <td><span class="active-status">Active</span></td>
            </tr>
            <tr>
              <td>Jacob Jones</td>
              <td class="mobile-no-show">Yahoo</td>
              <td>(208) 555-0112</td>
              <td class="mobile-no-show">jacob@yahoo.com</td>
              <td class="mobile-no-show">Brazil</td>
              <td><span class="active-status">Active</span></td>
            </tr>
            <tr>
              <td>Kristin Watson</td>
              <td class="mobile-no-show">Facebook</td>
              <td>(704) 555-0127</td>
              <td class="mobile-no-show">kristin@facebook.com</td>
              <td class="mobile-no-show">Åland Islands</td>
              <td><span class="inactive-status">Inactive</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="pagination">
      <p>Showing data 1 to 8 of 256K entries</p>
      <div class="pagination-pages">
        <a href="" class="link"><</a>
        <a href="" class="link">1</a>
        <a href="" class="link">2</a>
        <a href="" class="link">3</a>
        <a href="" class="link">4</a>
        <a href="" class="link spacing">...</a>
        <a href="" class="link">40</a>
        <a href="" class="link">></a>
      </div>
    </div>
    <button type="button" class="load-more">Load more</button>
  </div>
</main>
