<header class="header">
  <nav class="site-nav">
    <div class="logo">
      <svg width="32" height="32" class="logo-icon">
        <use href="././images/sprite.svg#icon-dashboard-logo"></use>
      </svg>

      <a href="#" class="link">
        <span class="logo__text">Dashboard</span>
        <span class="logo__version">v.01</span></a
      >
    </div>

    <ul class="site-nav__list list">
      <li class="site-nav__item">
        <a href="#" class="site-nav__link link">
          <svg class="site-nav__prime-icon">
            <use href="././images/sprite.svg#icon-dashboard"></use>
          </svg>

          <span class="site-nav__text">Dashboard</span>
          <svg width="16" height="16" class="site-nav__secondary-icon">
            <use href="././images/sprite.svg#icon-chevron-right"></use>
          </svg>
        </a>
      </li>

      <li class="site-nav__item">
        <a href="#" class="site-nav__link link">
          <svg class="site-nav__prime-icon">
            <use href="././images/sprite.svg#icon-product"></use>
          </svg>

          <span class="site-nav__text">Product</span>
          <svg width="16" height="16" class="site-nav__secondary-icon">
            <use href="././images/sprite.svg#icon-chevron-right"></use>
          </svg>
        </a>
      </li>

      <li class="site-nav__item current">
        <a href="#" class="link site-nav__link">
          <svg class="site-nav__prime-icon">
            <use href="././images/sprite.svg#icon-customers"></use>
          </svg>

          <span class="site-nav__text">Customers</span>
          <svg width="16" height="16" class="site-nav__secondary-icon">
            <use href="././images/sprite.svg#icon-chevron-right"></use>
          </svg>
        </a>
      </li>

      <li class="site-nav__item">
        <a href="#" class="site-nav__link link">
          <svg class="site-nav__prime-icon">
            <use href="././images/sprite.svg#icon-income"></use>
          </svg>

          <span class="site-nav__text">Income</span>
          <svg width="16" height="16" class="site-nav__secondary-icon">
            <use href="././images/sprite.svg#icon-chevron-right"></use>
          </svg>
        </a>
      </li>

      <li class="site-nav__item">
        <a href="#" class="site-nav__link link">
          <svg class="site-nav__prime-icon">
            <use href="././images/sprite.svg#icon-promote"></use>
          </svg>

          <span class="site-nav__text">Promote</span>
          <svg width="16" height="16" class="site-nav__secondary-icon">
            <use href="././images/sprite.svg#icon-chevron-right"></use>
          </svg>
        </a>
      </li>

      <li class="site-nav__item">
        <a href="#" class="site-nav__link link">
          <svg class="site-nav__prime-icon">
            <use href="././images/sprite.svg#icon-help"></use>
          </svg>

          <span class="site-nav__text">Help</span>
          <svg width="16" height="16" class="site-nav__secondary-icon">
            <use href="././images/sprite.svg#icon-chevron-right"></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>

  <button type="button" class="button-user">
    <div class="user-info">
      <div class="user-info__photo"></div>
      <div class="user-info__discription">
        <p class="user-info__name">Evano</p>
        <p class="user-info__role">Project Manager</p>
      </div>
    </div>
  </button>
</header>
